* {
  transition-duration: .4s;
}


.sticker-packs-wrapper {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}


.sticker-packs-wrapper li {
  display: inline-block;
  text-align: center;
  background: #eee;
  margin: 3px;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
}


.pack-avatar {
  display: block;
  width: 60px;
  margin: 0 auto;
}


.pack-title {
  display: block;
  font: 1em Arial;
}


img {
  width: 60px;
}